* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#header {
    margin: 0 auto;
    width: 960px;
    height:50px;
    line-height: 50px;
    background-color: rgb(55, 54, 54);
    color:cornsilk;
    text-align: left;
    padding-left: 8%;
    vertical-align: middle;
    font-family: Fantasy;
    font-size: 2em;
    overflow: hidden;
}

#link {
    display: inline;
    font-size: 0.5em;
    float: right;
    margin-right: 8%;
}

#link a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
#link a:link {
    color: white;
}

#link a:focus, #link a:hover {
    color: aqua;
}

#link a:active {
    color: burlywood;
}

#addition {
    position: relative;
    height: 225px;
    width: 600px;
    margin: 0 auto;
}

/* 自动播放的轮播图 */

#sliderContainer {
    margin: 0 auto;
    position: relative;
    float: left;
}

#sliderContainer, .slider, .sliderItem {
    height: 225px;
    width: 300px;
    list-style: none;
}

.sliderItem {
    position: absolute;
    animation: sliderFade 6s linear;
    animation-iteration-count: infinite;
    opacity: 0;
}

.sliderItem1 {
    background-image: url(1.jpg);
    animation-delay: -0.5s;
}

.sliderItem2 {
    background-image: url(2.jpg);
    animation-delay: 1s;
}

.sliderItem3 {
    background-image: url(3.jpg);
    animation-delay: 2.5s;
}

.sliderItem4 {
    background-image: url(4.jpg);
    animation-delay: 4s;
}

@keyframes sliderFade {
    0% {
        opacity: 0;
    }
    
    5% {
        opacity: 1;
    }
    
    25% {
        opacity: 1;
    }
    
    30% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}

/* 自动播放的轮播图的轮播焦点 */

.floatFix {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 2%;
    list-style: none;
}

.floatFix li {
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    border-radius: 100%;
    list-style: none;
}

.focusItem {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    background-color: cyan;
    border-radius: inherit;
    animation: sliderFade 6s linear;
    animation-iteration-count: infinite;
}

.focusItem1 {
    animation-delay: -0.5s;
}

.focusItem2 {
    animation-delay: 1s;
}

.focusItem3 {
    animation-delay: 2.5s;
}

.focusItem4 {
    animation-delay: 4s;
}

/* 手动播放的轮播图 */

.bannerContainer {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 225px;
    width: 300px;
    text-align: center;
}

.banner {
    width: 400%;
    height: 100%;
    transition: all 0.5s;
}

.banner li[class ^= "bannerItem"] {
    list-style: none;
    width: 25%;
    height: 225px;
    float: left;
    line-height: 225px;
}

.banner .bannerItem1 {
    background-color: antiquewhite;
}

.banner .bannerItem2 {
    background-color: aquamarine;
}

.banner .bannerItem3 {
    background-color: rgb(49, 59, 173);
}

.banner .bannerItem4 {
    background-color: rgb(255, 127, 127);
}

.bannerContainer input[name = "sliderButton"] {
    display: none;
}

.bannerContainer label[for ^= "sliderButton"] {
    position: absolute;
    font-size: 0.7em;
    top: 90%;
    height: 15px;
    line-height: 15px;
    width: 15px;
    border-radius: 100%;
}

.bannerContainer label[for = "sliderButton1"] {
    left: calc(50% - 60px);
}

.bannerContainer label[for = "sliderButton2"] {
    left: calc(50% - 20px);
}

.bannerContainer label[for = "sliderButton3"] {
    left: calc(50% + 20px);
}

.bannerContainer label[for = "sliderButton4"] {
    left: calc(50% + 60px);
}

#sliderButton1:checked ~ ul {
    margin-left: 0;
}

#sliderButton2:checked ~ ul {
    margin-left: -100%;
}

#sliderButton3:checked ~ ul {
    margin-left: -200%;
}

#sliderButton4:checked ~ ul {
    margin-left: -300%;
}

#sliderButton1:checked ~ label[for = "sliderButton1"] {
    color: rgb(207, 11, 11);
    background-color: rgb(6, 218, 229);
}

#sliderButton2:checked ~ label[for = "sliderButton2"] {
    color: rgb(207, 11, 11);
    background-color: rgb(6, 218, 229);
}

#sliderButton3:checked ~ label[for = "sliderButton3"] {
    color: rgb(207, 11, 11);
    background-color: rgb(6, 218, 229);
}

#sliderButton4:checked ~ label[for = "sliderButton4"] {
    color: rgb(207, 11, 11);
    background-color: rgb(6, 218, 229);
}

/* 手动轮播 */

#rollContainer {
    position: relative;
    height: 250px;
    width: 960px;
    margin: 0 auto;
}

.roll > li {
    position: absolute;
    height: 100%;
    width: 100%;
    list-style: none;
}

.roll :nth-child(1) {
    background-color: green;
}

.roll :nth-child(2) {
    background-color: tan;
}

.roll :nth-child(3) {
    background-color: rgb(64, 187, 193);
}

.roll :nth-child(4) {
    background-color: rgb(224, 142, 34);
}

/* label焦点 */

#rollContainer button[id ^= "rollButton"] {
    display: none;
}

#rollContainer label[for ^= "rollButton"] {
    position: absolute;
    height: 20px;
    line-height: 20px;
    width: 20px;
    top: 90%;
    border-radius: 100%;
    background-color: aqua;
    color: dodgerblue;
    z-index: 2;
    text-align: center;
}

#rollContainer label[for = "rollButton1"] {
    left: calc(50% - 70px);
}

#rollContainer label[for = "rollButton2"] {
    left: calc(50% - 30px);
}

#rollContainer label[for = "rollButton3"] {
    left: calc(50% + 10px);
}

#rollContainer label[for = "rollButton4"] {
    left: calc(50% + 50px);
}

/* 用js实现增加id名实现 */

#active {
    z-index: 1;
    opacity: 1;
    text-align: center;
    line-height: 250px;
    height: 250px;
    transition: all 0.5s linear;
}

/* 这个属性选择器必须为(2, 0, 0)，因为会被前面的样式覆盖 */
#rollContainer > #click {
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 85%;
    color: rgb(207, 11, 11);
    background-color: rgb(6, 218, 229);
    margin: -5px;
}


#rollContainer > label:hover, #rollContainer > #click:hover {
    color: rgb(29, 241, 114);
    background-color: aliceblue;
}

/* 中间内容部分 */

.contentContainer {
    position: relative;
    height: 500px;
    width: 960px;
    margin: 0 auto;
}

button[name = "contentButton"] {
    display: none;
}

label[for ^= "contentButton"] {
    position: absolute;
    line-height: 50px;
    height: 40px;
    width: 10%;
    text-align: center;
    border-width: 1px 1px 0;
    border-color: gray;
    border-style: solid solid none;
    border-radius: 1em 1em 0 0;
    margin-top: 10px;
    background-color: rgb(236, 236, 236);
}

label[for = "contentButton1"] {
    left: 10%;
}

label[for = "contentButton2"] {
    left: 20%;
}

label[for = "contentButton3"] {
    left: 30%;
}

#contentClick {
    background-color: white;
}

/* 中间的虚线 */

#left, #right {
    top: 10%;
    border-top: dashed gray 1px;
}

#left {
    position: absolute;
    width: 10%;
    left: 0;
}

#right {
    position: absolute;
    width: 80%;
    right: 0;
}

/* 内容主体部分 */

.content {
    position: absolute;
    top: 10%;
    display: flex;
    flex-flow: row wrap;
    height: 90%;
    width: 100%;
    justify-content: space-around;
    transition: all 0.2s;
    opacity: 0;
}

.content > .item {
    margin: 15px 2px 15px;
    height: 173px;
    line-height: 173px;
    text-align: center;
    border: 1px solid gray;
    background-color: antiquewhite;
}

#contentActive {
    opacity: 1;
}

#footer {
    height: 80px;
    width: 960px;
    margin: 0 auto;
    background-color: gray;
    line-height: 80px;
    text-align: center;
}